
/*Barra navegacion*/

.navbar-custom {
    width: 100%;
    padding: 10px;
    text-align: center;
    border: 3px solid transparent;
    color: black;
    background-color: black;
    
}

  

/* boton Sign in */
.boton-animado {
  position: fixed; /* Para que el botón permanezca en su lugar */
  right: 20px; /* Lo posiciona en el lado derecho */
  top: 20px; /* Ajusta la altura  */
  background-color: #6200ea;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease;
  z-index: 1;
}

.boton-animado:active {
  transform: scale(1.2); /* Se agranda cuando se hace clic */
}





/****************************Main class*********************************/


.main {
   
  background-image: url("../Imagenes/FondoInventario.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  

}
.main::before { /* segunda configuracion que se aplica al fondo */

  
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(0,0,0,0) 15%, rgba(0,0,0,0.7) 100%);
  
  }

  /* Primer apartado con logo y texto del lado derecho*/

  .texto-centro {
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
  
}



/*********************Footer*********************/

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px; 
  background: rgba(0, 0, 0, 0.9);
}







 


