<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login_style.css"> <!--Agregar carpeta de estilos-->
    <title>Formulario LOGIN</title>
</head>
<body>
    <div class="form-body">
        <img src="#" alt="usuario-login"> <!--agregar la ubicacion de la imagen de usuario-->
        <p class="text">Bienvenido al Sistema Inventario</p>
        <form class="login-form">
            <input type="text" placeholder="Nombre de usuario">
            <input type="password" placeholder="Contraseña">
            <button>Iniciar sesión</button>
        </form>
    </div>
</body>
</html>
