
.sidebar {
    position: fixed;
    right: -100%;
    top: 0;
    height: 100%;
    width: 300px;
    background-color: #343a40;
    color: white;
    overflow-y: auto;
    transition: right 0.3s ease;
    z-index: 1050;
  }
  
  .sidebar.show {
    right: 0;
  }
  